#nametitle {
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: "raleway";
    font-size: 64px;
}

#description {
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(0%, -50%);
    width: 50%;
    text-align: right;
    line-height: 72px;
}


.middlename {
    font-weight: 700;
    color: #FF9900;
}

p {
    font-family: "raleway";
    font-size: 32px;
    text-align: right;
}

.knowledgeandskills {
    font-weight: 700;
    color: #4285F4;
    text-decoration: underline;
}