.maintextdiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#maintext {
    font-size: 64px;
    font-family: "raleway";
    font-weight: 400;
}

.aboutme {
    font-family: "raleway";
    font-size: 24px;
    position: relative;
    left: 14%;
    bottom: 50px;
}

.contactme{
    font-family: "raleway";
    font-size: 24px;
    position: relative;
    left: 76%;
    bottom: 50px;
}

#maintext a {
    text-decoration: none;
}

#maintext nameInteract {
    
    font-weight: 700;
    color: #FF9900;
    text-decoration: underline;
    text-decoration-color: #FF9900;
    text-decoration-thickness: 3px;
}

#maintext emailInteract{
    color: #000000;
}

#maintext letterat {
    color: #000000;;
    text-decoration: none;
}

#maintext letterg {
    color: #4285F4;
}

#maintext letterm {
    color: #DB4437;
    text-decoration-color: #DB4437;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#maintext lettera {
    color: #F4B400;
    text-decoration-color: #F4B400;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#maintext letteri {
    color: #4285F4;
    text-decoration-color: #4285F4;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#maintext letterl {
    color: #0F9D58;
    text-decoration-color: #0F9D58;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#maintext letterdotcom {
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 3px;
}
